body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#3b3b3b, #5b5b5b);
    height: 100vh;
}

header {
    display: flex;
    background-color: #000000;
    height: 60px;
    align-items: center;
}

header h2 {
    color: #ffffff;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.container-login {
    width: 500px;
    height: 500px;
    background-color: #5b5b5b;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 10px #2b2b2b;
}

.container-login h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    height: 40px;
    width: 250px;
    border-radius: 4px;
    padding: 4px;
}

button {
    width: 100px;
    background-color: #000000;
    color: #ffffff;
    padding: 6px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
}

.forgot {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.downloads {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 40px;
    margin: 10px;
}